<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="{% static "css/style.css"}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Список пользователей:</h1>
    <div class="utable">
      {% if userslist %}
        {%for us in userslist%}
        <ul>
          <li>Имя: {{us.u_name}}</li>
          <li>Фамилия: {{us.u_lastname}}</li>
          <li>E-mail: {{us.u_email}} </li>
      </ul>
        {%endfor%}
      {%else%}
      <p>No users found</p>
      {%endif%}
    </div>

  </body>
</html>
